* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: rgb(95, 95, 95);
}

.App {
  position: relative;
}

.heading-value {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  color: $white;
  font-family: $font-morpheus;
  font-size: 1.5em;
  letter-spacing: 1.5px;
}

.hidden {
  visibility: hidden;
}

.border-alliance { border: 3px solid darken($blue, 10%) !important; }
.border-horde { border: 3px solid darken($red, 10%) !important; }

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  transition: box-shadow $anim-time;

  &.row-centered {
    align-items: center;
    justify-content: center;
  }

  &.row-selected {
    border-radius: 10px;
    box-shadow: inset 0 0 20px fade-out($highlight, 0.5);
  }

  &.row-header {
    padding-bottom: 3%;

    .heading-value:not(:last-child)::after {
      content: '|';
      margin: 0 0.5em;
    }

    .img-char {
      position: absolute;
      right: 5px;
      box-shadow: 0 0 10px $black;
    }
  }

  .row-btn {
    min-width: 30px;
    padding: 0;
    border: 0;
    background: transparent;
    color: $white;
    font-size: 20px;
    font-weight: bold;
  }

  .row-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .row-inner-fixed {
    flex-wrap: nowrap;
    flex-grow: unset;
  }
}

.btn {
  padding: 12px 18px;
  border: 2px solid $white;
  border-radius: 10px;
  background: fade-out($white, 0.85);
  color: $white;
  font-family: $font-morpheus;
  font-size: 1em;
  letter-spacing: 1.5px;
  transition: $anim-time;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $black;
    background: $white;
  }
}

.btn-char {
  margin: 10px;
  padding: 0;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  background: transparent;

  &.btn-char-selected {
    box-shadow: 0 0 20px $highlight;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.img-bottom-center img {
    object-position: center bottom;
  }

  &.img-dark img {
    filter: blur(0.5px) brightness(0.5) sepia(50%) saturate(90%);
  }
}

.img-char {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.step {
  margin: auto;
  max-width: 400px;
  min-height: 100vh;

  .row {
    min-height: 23vh;
  }

  .row:first-child,
  .row:nth-child(5) {
    min-height: 15.5vh;
  }
}

.step-character {
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0 0 30px 0;
    text-align: center;
    color: $white;
    font-family: $font-morpheus;
    font-size: 1.8em;
    letter-spacing: 1.5px;
  }

  &>div {
    display: flex;

    &>div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .btn {
    margin: 30px auto 0 auto;
  }
}

.token {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin: 0 10px;
  min-width: 110px;
  border-right: 3px solid $white;

  span {    
    padding-bottom: 5px;
    color: $white;
    font-family: $font-flair;
    font-size: 30px;
  }

  img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &.token-red img { box-shadow: 0 0 15px $red; }
  &.token-blue img { box-shadow: 0 0 15px $blue; }
  &.token-green img { box-shadow: 0 0 15px $green; }
}