$dice-w:            40px;
$dice-border:       4px;

$white:           #ffffff;
$black:           #000000;
$red:             #e70808;
$blue:            #177dee;
$green:           #18a541;
$highlight:       #ffec1a;

$anim-time:         0.3s;